{% import "post_macros.html" as post_macros %}

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z1GNC0HNW0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-Z1GNC0HNW0');
    </script>

    <link rel="stylesheet" href="https://use.typekit.net/gyu7mis.css">

{% if page %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% elif config.description %}
    <meta name="description" content="{{ config.description }}" />
    {% endif %}
{% elif config.description %}
    <meta name="description" content="{{ config.description }}" />
{% endif %}

    <title>
        {% if page.title %} {{ page.title }}
        {% elif section.title %} {{ section.title }}
        {% elif config.title %} {{ config.title }}
        {% else %}Post{% endif %}
    </title>

    {% block js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
    {% endblock js %} 
    
    {% block css %}
        <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) }}"> 
    {% endblock css %} 

    {% block extra_head %} 
    {% endblock extra_head %}
</head>